* {
   font-family: 'Nunito', sans-serif;
}

body {
    background: url(mb-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    width: 50%;
}

/* Style the form inputs */
input[type="text"],
input[type="number"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid #ccc;
    border-radius: 3px;
    background-color: transparent; /* Background set to transparent */
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 1em;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the form container */
#myForm {
    margin-bottom: 20px;
    
}
#output {
  color: white;
  font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    
    width: 50%;
}
#copyButton {
 padding: 5px;
 margin-left: 5px;
}
.love-emojis {
  pointer-events: none;
}